/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondry-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--secondry-color);
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  color: var(--primary-color);
  background: white;
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  color: white;
  background: var(--primary-color);
}
.project-description {
  padding: 120px 60px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  line-height: 1.5;
  margin: 0;
  font-size: 14px;
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
.contact-box {
  background: var(--secondry-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  font-family: var(--default-font-family);
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--primary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondry-color);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 45px;
  margin-left: 20px;
}
nav a {
  font-family: var(--default-font-family);
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a,
nav p {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  nav a {
    font-size: 14px;
  }
}
